* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
